<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Shubham Heda</h3>
        </div>
        <div class="panel-body">
          <h4 class="tab">Developer and Traveller</h4>

          <h4> Contact Details</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">9785637435</span>
              Phone Number
            </li>
            <li class="list-group-item">
              <span class="badge">rubyboyone@gmail.com</span>
              Email ID
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <%= image_tag "SH.jpg" %>
        </a>
      </div>
    </div>
  </div>
</div>