<section id="shlanguage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <strong>Source Code</strong>
          <h1 class="heading bold">PROJECTS I MADE</h1>
          <hr>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
        <h3>PYTHON PROJECT</h3>
        <hr>
        <p>Various Python, Django & flask projects and python MIT assignments solving files.
          <br>Download <b><a href="http://www.python.org" target="_blank">Python</a></b></p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
        <h3>RUBY/RAILS PROJECT</h3>
        <hr>
        <p>Various Ruby on Rails and Ruby projects and ruby MIT assignments solving files.
          <br>Download <b><a href="http://www.ruby-lang.org" target="_blank">Ruby</a></b></p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
        <h3>JAVA PROJECT</h3>
        <hr>
        <p>Various Core Java, JavaFX projects and java MIT assignments solving files.
          <br>Download <b><a href="http://www.java.com/download" target="_blank">Java</a></b></p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
        <h3>C &amp; C++ PROJECT</h3>
        <hr>
        <p>Various C & C++ ,wxWidgets ,Qt projects and C/C++ MIT assignments solving files.
          <br>Information about <b><a href="http://www.isocpp.org">C/C++</a></b></p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
        <h3>HTML PROJECT</h3>
        <hr>
        <p>HTML is used for web page development. Thanks to <i>W3C &amp; WHATWG</i> for developing HTML.&nbsp;
          <br>Tutorial For <b><a href="https://www.w3.org/html" target="_blank">HTML</a></b></p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
        <h3>CSS PROJECT</h3>
        <hr>
        <p>CSS is for to give style to web page. Thanks to <i>Hakon Lie, Bert Bos &amp; WWW Consotium</i> for CSS.
          <br>Tutorial for <b><a href="http://www.w3.org/css">CSS</a></b></p>
      </div>
    </div>
  </div>
</section>
